/* src/pages/ProductDetails.module.css */

.header {
  text-align: center;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  text-decoration: none;
  color: black;
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: auto;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  display: grid;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

.container {
  display: grid;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
}

.tags {
  margin-top: 1rem;
}

.tag {
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
}

.button {
  margin-top: 1.5rem;
  padding: 10px 16px;
  border: 2px solid;
  height: fit-content;
  max-width: 150px;
  border-radius: 20px;
  background: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: medium;
}

.button:hover {
  border-color: aquamarine;
  color: aquamarine;
}

.reviews {
  margin-top: 2rem;
}

.review {
  border-top: 1px solid #ddd;
  padding: 1rem 0;
}
