/* src/components/Footer.module.css */

.footer {
  margin-top: auto;
  padding: 20px;
  background-color: #242424;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactFooter {
  margin: 0px;
  color: white;
}

/* Tablet */
@media (max-width: 768px) {
  .footer {
    padding: 15px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer h3 {
    margin: 0;
  }
}
