/* src/components/Footer.module.css */

.footer {
  margin-top: auto;
  padding: 20px;
  background-color: #242424;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactFooter {
  margin: 0px;
  color: white;
}
